### MEDC0106: Bioinformatics in Applied Biomedical Science

<p align="center">
  <img src="../../resources/static/Banner.png" alt="MEDC0106 Banner" width="90%"/>
  <br>
</p>

---------------------------------------------------------------

# 07 - Introduction to Pandas

*Written by:* Oliver Scott

**This notebook provides a general introduction to Pandas.**

Do not be afraid to make changes to the code cells to explore how things work!

### What is Pandas?

**[Pandas](https://pandas.pydata.org/)** is a Python package for data analysis, providing functions for analysing, cleaning and manipulating data. Pandas is probably one of the most important tools for data scientists and is the backbone of most data science projects using Python.

Data manipulation often prefaces further analysis using other Python packages such as statistical analysis using [SciPy](https://www.scipy.org/), visualisation using tools such as [Matplotlib](https://matplotlib.org/) and machine learning using [scikit-learn](https://scikit-learn.org/stable/). These tools and others make up the Python scientific stack and are essential to learn for a career in informatics or data-science. To be effective in pandas it is essential to have a good grasp of the core concepts in Python (these concepts are outlined in the first session) along with some familiarity with NumPy. If you get lost with some concepts it might be a good idea to take a look through the previous material across the sessions.

In this notebook we will learn the basics of Pandas. Pandas is a huge package and is deserving of an entire lecture series itself, so here we will learn the fundamentals from which you will be able to build upon if you want to learn more.

-----

## Contents

1. [The Basics](#The-Basics)
2. [Creating DataFrames](#Creating-DataFrames)
3. [Reading Data](#Reading-Data)
4. [Essential Operations](#Essential-Operations)
5. [Slicing and Selecting](#Slicing-and-Selecting)
5. [Arithmetic](#Arithmetic)
6. [Applying Functions](#Applying-Functions)
7. [Time-Series](#Time-Series)
8. [Plotting](#Plotting)

-----

#### Extra Resources:

- [Pandas Getting Started Guide](https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html)
- [RealPython-01](https://realpython.com/pandas-python-explore-dataset/)
- [RealPython-02](https://realpython.com/pandas-dataframe/)

-----

#### References:

- [Pandas Documentation](https://pandas.pydata.org/docs/)
- [Learn Data Science](https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/)
-----

## The Basics

Importing Pandas is no different to any other package/module. Pandas users often use the `pd` alias to keep code clean:

In [ ]:
import pandas as pd

s = pd.Series([1.0, 2.0, 3.0, 5.0])
s

### Core Components

Pandas has two core components, the `Series` and the `DataFrame`.

The `Series` can be imagined as a single column in a data table, whereas the `DataFrame` can be imagined as a full data table made up of multiple `Series`. Both types have a similar interface allowing a user to perform similar operations. DataFrames are similar to spreadsheets that you may have interacted with in software such as Excel. DataFrames are often faster, easier to use and more powerful than spreadsheets.

<p align="center">
  <img src="https://www.datasciencemadesimple.com/wp-content/uploads/2020/05/create-series-in-python-pandas-0.png?ezimgfmt=rs%3Adevice%2Frscb1-1" alt="Pandas DataFrame" width="70%"/>
  <br>
</p>

[Image source](https://www.datasciencemadesimple.com/wp-content/uploads/2020/05/create-series-in-python-pandas-0.png?ezimgfmt=rs%3Adevice%2Frscb1-1)

-----

## Creating DataFrames

There are numerous ways to create a DataFrame using the Pandas package. In most cases it is likely that you will want to read in data from a particular file, however DataFrames can also be constructed from scratch from lists, tuples, NumPy arrays or Pandas series. Probably the most simple way however is from a simple Python dictionary `dict`. Suppose we wanted to construct a table like the one below:

| PatientID | Gender | Age | Outcome  |
|-----------|--------|-----|----------|
| 556785    | M      | 19  | Negative |
| 998764    | F      | 38  | Positive |
| 477822    | M      | 54  | Positive |
| 678329    | M      | 22  | Negative |
| 675859    | F      | 41  | Negative |

We can construct this using a Python dictionary where the key corresponds to the column name and the list the data present in the rows. For this we can use the default constructor `pd.DataFrame()`. Notice how there is also an unnamed column containing the numbers 0-4, this is the **index** of each row. In fact, you may also specify a custom index when constructing a dataframe; (`pd.DataFrame(data, index=['Tom', 'Joanne', 'Joe', 'Xander', 'Selena'])`) In this case the index is the names of the patients.

In [ ]:
# This is or dictionary containing the raw data
data = {
    'PatientID': [556785, 998764, 477822, 678329, 675859],
    'Gender': ['M', 'F', 'M', 'M', 'F'],
    'Age': [19, 38, 54, 22, 41],
    'Outcome': ['Negative', 'Positive', 'Positive', 'Negative', 'Negative']
}

# We can now construct a DataFrame like so:
df = pd.DataFrame(data)
df  # show the data

Often you will be working with very large tables of data making it impractical to view the whole table. Pandas provides a method `.head()` to display the first few n items or `.tail()` for the last few:

In [ ]:
# Display the first three rows
df.head(n=3)

In [ ]:
# Display the last two rows
df.tail(n=2)

Accessing an individual column is easy using the same syntax as a Python dictionary `dict`:

In [ ]:
gender_column = df['Gender']
gender_column

If the column label is a string you may also use **dot-syntax** to access the column:

In [ ]:
age_column = df.Age
age_column

## Reading Data

Reading and writing data from/to files in multiple formats is an essential part of the data analysis pipeline. Pandas can read data from file including; CSV, JSON, Excel, SQL and [many more](https://pandas.pydata.org/pandas-docs/stable/reference/io.html).

In the folder `data` we have provided a dataset downloaded from the [UK government](https://coronavirus.data.gov.uk/details/cases?areaType=overview&areaName=United%20Kingdom) detailing the number of reported positive COVID-19 test results in the United Kingdom by date reported (up to Oct-31-21). The file is in the CSV format and can be read using Pandas with the function `.read_csv()`:

In [ ]:
cv_data_path = 'https://raw.githubusercontent.com/MEDC0106/PythonWorkshop/main/workshop/session_3/data/data_2021-Oct-31.csv'  # This is the path to our data

cv_data = pd.read_csv(cv_data_path)
cv_data.head(n=10)

We could also easily write this DataFrame to a new CSV file using the method `df.to_csv()`:

```python
cv_data.to_csv('coronavirus_testing_results.csv')
```

Give it a go. Maybe also saving to a different [format](https://pandas.pydata.org/pandas-docs/stable/reference/io.html)!

## Essential Operations

Now that we have loaded some data into a `DataFrame` we can perform operations for performing analysis. Typically, once you have loaded some data you should view your data to make sure that it looks correct and to get an idea of what values you will be dealing with. Since we have already coovered visualising the data using `.head()`/`.tail()`, the next function you should probably run is `.info()` which provide essential details about your dataset including the number of rows/columns  the number of none-null values (None), what type of data is in each column and how much memory the data is taking up:

In [ ]:
cv_data.info()

Notice that we have 6 columns of which four are of type `object` (this could be something like a string) and two that are `int64` (integers). The info also tells us that we have 2466 non-null values and no null-values in this case. Knowing the datatype of ourt columns is very important as it will determine what operations we can perform on each column (we wouldn't want to calculate the mean of a column containing strings). You can also use `.shape` to see the number of (rows/columns):

In [ ]:
cv_data.shape

#### Removing duplicate data

Often input data is noisy and needs cleaning up before we do any further analysis. It is often the case that data contains duplicated rows which is not great when we are trying to do statistical analysis. Luckily Pandas has utilities for dealing with this problem easily. The data we have read does not contain any duplicated rows, so we will arbitrarily create some by duplicating the data and adding it to itself:

In [ ]:
duplicated = pd.concat([cv_data, cv_data])  # here we have copied the data and added it to itself
duplicated.shape

Notice that we have to assign the result of the `append` to a new variable. Here we have copied the data, so we won't do anything to the original DataFrame. We can now easily drop the duplicates using the `.drop_duplicates()` [method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html). It is always a good idea to look at the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html) to see what other arguments these functions accept.

In [ ]:
duplicated = duplicated.drop_duplicates()
duplicated.shape

Notice that the shape is now the same as the original data. Also notice that again we assigned the result to a new variable (with the same name). This technique can get quite annoying so Pandas often offers an argument `inplace` which, if we set to `True`, allows pandas to perform the operation modifying the original data rather than a copy.

```python
duplicated.drop_duplicates(inplace=True)  # no need to assign to a new variable
```

#### Removing Null values (None)

Data before cleaning commonly has missing values that you will need to deal with before further analysis. Missing values are represented by `None` or `np.nan`. There is usually two options to dealing with missing values:

1. Remove all rows with missing data
2. Imputing the missing values

In this tutorial we will stick to the first case.

Again as our data is nice and clean it contains no null values so for this example we will inject a new column containing some null values, let's do this first:

In [ ]:
import random

n_rows = len(cv_data)
nulls_or_ones = []
for _ in range(n_rows):
    if random.random() < 0.2:
        nulls_or_ones.append(None)
    else:
        nulls_or_ones.append(1)

print("Prepared a random list of length:", len(nulls_or_ones))
print("Is the first value null?", pd.isna(nulls_or_ones[0]))

Now add a row to the data containing our constructed data:

In [ ]:
cv_data['RandomData'] = nulls_or_ones  # make a colum called 'RandomData'
cv_data.head(10)

We can also see now that we have null values:

In [ ]:
cv_data.info()

We can also check the number of null values in each column using `.isnull()`. This returns a DataFrame with boolean columns where `True` indicated a null value. We can then use `.sum()` to count the number of `True` values in each column:

In [ ]:
cv_data.isnull().sum()

When performing data analysis you often have to make the choice to remove missing values or impute them in some way. Removing data is only really recommended if the number of missing data points is relatively small. To remove null values you can simply use the [method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html) `.dropna()`. This operation will remove any row with at least 1 null value, returning a new DataFrame unless you specified inplace. Instead of dropping rows we could instead drop columns with null values by changing the axis of operation. Columns are represented by `axis=1`:

In [ ]:
# First lets remove rows with null values
remove_rows = cv_data.dropna()
remove_rows.head(10)

In [ ]:
remove_rows.shape

Now lets change the axis and remove the colum we injected:

In [ ]:
cv_data.dropna(axis=1, inplace=True)  # We can do it inplace since we do not care about this column
cv_data.head(10)

#### Understanding Data

Now that your data is clean(er) than when we started, it is time to do some basic stats to understand the data that we have in each column. This may help inform us how to continue with our analysis and maybe how to plot the data. Pandas provides us with an easy way to get a quick summary of the distribution of our continuous variables `.describe()`:

In [ ]:
cv_data.describe()

We can also do the same for categorical columns, but we will have to do it seperately:

In [ ]:
cv_data.areaName.describe()

This shows us that in this dataset there are four unique area names with 'England' being the most frequent with a frequency of 640. We can also check the unique values using the `.unique()` method:

In [ ]:
cv_data.areaName.unique()

We can see that the dataset contains data for:

- England
- Northern Ireland
- Scotland
- Wales

But how many times are these values recorded? We can use the method `.value_counts()` to find out:

In [ ]:
cv_data.areaName.value_counts()

## Slicing and Selecting

In the previous section we saw how to produce summaries of the entire data which is useful however, sometimes we will want to perform analysis on certain subsets of data. We have already seen how to extract a column of data using square brackets and dot-syntax `df['col'] / df.col` and now we will dive deeper into the Pandas selction language. When selecting parts of a DataFrame we may be returning either a `DataFrame` or a `Series`, it is important to know which so that yopu use the correct syntax.


#### Selecting by Column(s)

Using the square-bracket syntax we mentioned previously will return a Pandas `Series`

In [ ]:
type(cv_data['areaName'])

If you wish to access it as a DataFrame you can supply the column name as a list:

In [ ]:
type(cv_data[['areaName']])

Adding another column to our selection is a simple as adding another column name to the list. Obviosuly inh this case our code will return a `DataFrame`:

In [ ]:
selection = cv_data[['areaName', 'areaCode']]
selection.head(5)

#### Selecting by rows

Selecting rows is a little trickier with two methods:

- `.loc`:  locate by name
- `.iloc`: locate by numerical index

Considering that our data has a numerical index it makes sense for us to use `.iloc`. If our data has an index using strings `.loc` would be the correct solution if we want to select using the string. Of course `.iloc` will also work returning the data at the numerical position instead of the name.

In [ ]:
cv_data.loc[222]  # Return the row with index 222

We can also use slices to select a range of data:

In [ ]:
cv_data.loc[222:226]

#### Conditional Selections

Selecting data by index can be useful, but if we do not know what the indexes correspond too, this can be limiting. Perhaps we are only interested in the data from Wales, we can use conditional selections to make informed selections.

Pandas dataframes can be indexed using a boolean array/Series/DataFrame generated using a conditional expression:

In [ ]:
ind = cv_data['areaName'] == 'Wales'  # A boolean Series
ind.tail(5)

Using this boolean Series we can index the DataFrame!

In [ ]:
wales_data = cv_data[ind]
wales_data.head(5)

We can simplify this quite nicely into a one line expression:

In [ ]:
wales_data = cv_data[cv_data['areaName'] == 'Wales']
wales_data.head(5)

Of course we can apply this to numerical columns also:

In [ ]:
# Select rows where reported positives is less than 100
cv_data[cv_data['newCasesByPublishDate'] < 100].head(5)

Chaining conditional expressions allows us to create powerful selections. For this we can use the logical operators `|` and `&`. Remember to put separate conditions in brackets!

In [ ]:
# Count dates in england with reported positive results > 10,000
cv_data[(cv_data['areaName'] == 'England') & (cv_data['newCasesByPublishDate'] > 10000)].shape

## Arithmetic

Basic arithmentic operations can be applied simultaneously on all rows in a column, so we will quickly brush over it:

In [ ]:
cv_data.newCasesByPublishDate / 100   # divide a column by 100 return a Series

You may also perform arithmetic between columns:

In [ ]:
cv_data.newCasesByPublishDate + cv_data.cumCasesByPublishDate

You can insert a new column with the result:

In [ ]:
cv_data['Rubbish'] = cv_data.newCasesByPublishDate * 0.3 / cv_data.cumCasesByPublishDate
cv_data.head(5)

Pandas also provides some handy utility functions:

In [ ]:
print(cv_data.newCasesByPublishDate.mean())
print(cv_data.newCasesByPublishDate.std())

## Applying Functions

While it is possible to iterate over a DataFrame/Series, it is slow in Python, so instead we can use the `.apply()` function to apply a function to each element in a column or across columns. We can also save this result to a new column. Let's create an arbitrary function that we can apply to the data we have:

In [ ]:
def categorize_cases(x):
    if x >= 10000:
        return 'High'
    elif x <= 200:
        return 'Low'
    else:
        return 'Medium'

The above function categorises a case count into arbritarty categories: 'High', 'Medium' and 'Low'. Now we can apply this to the column 'newCasesByPublishDate':

In [ ]:
cv_data['Category'] = cv_data['newCasesByPublishDate'].apply(categorize_cases)
cv_data.head(10)

Users often will use anonymous functions instead of defining an explicit function like above:

In [ ]:
cv_data['newCategory'] = cv_data['newCasesByPublishDate'].apply(lambda x: 'Red' if x >= 20000 else 'Amber')
cv_data.head(10)

## Time-Series

Some of you may have notices that one of the columns contains dates as a string (object). This isn't particularly useful to us in this form. Pandas however has a datetime type which we can use to make some more intelligent selections based on time spans. First we need to tell pandas that our column is a datetime column:

In [ ]:
cv_data['date'] = pd.to_datetime(cv_data['date'])
cv_data.info()

Now we have the date in this form we can make selections within time ranges using the `.between()` method:

In [ ]:
# Let's select data between the 20th and the 30th October 2021 and restrict it to England
selection = cv_data[(cv_data.date.between('2021-10-20','2021-10-30')) & (cv_data.areaName == 'England')]
selection.head(10)

Working with time-series data is even more powerful if we use the time as our index. Let's first only consider 'Scotland' in our analysis

In [ ]:
scotland_data = pd.DataFrame(cv_data[cv_data.areaName == 'Scotland'])  # also copy into a new DataFrame

Now we can set the index of the 'scotland_data' DataFrame as the index:

In [ ]:
scotland_data.set_index('date', inplace=True)
scotland_data.head(5)

You may have noticed that the data is in time-decending order, often we will want to reverse this ordering. Now that the index is the date we can sort it easilt using the `.sort_index()` method:

In [ ]:
scotland_data.sort_index(inplace=True)
scotland_data.head(5)

Also we can simply use slicing to select a data range with `.loc`!

In [ ]:
scotland_data.loc['2021-10-20':'2021-10-30']

We can resample time-series data into different intervals and get a mean value for that interval. Below we resample the data into 10-day intervals and calculate the mean of 'newCasesByPublishDate':

In [ ]:
scotland_data.resample(rule='10d')['newCasesByPublishDate'].mean()

Instead of mean you could use other functions such as `min()`, `max()`, `sum()` etc. Indeed, you can also calculate a rolling statistic using `.rolling()` and a window size. Here we will calculate a rolling average using a ten-day window:

In [ ]:
scotland_data['rollingAvgTenDay'] = scotland_data.rolling(10)['newCasesByPublishDate'].mean()
scotland_data.head(20)

## Plotting

Pandas allows the visualisation of data in DataFrames/Series interfacing with the plotting package [matplotlib](https://matplotlib.org/). Displaying the plots will first require that import matplotlib:

In [ ]:
# We also add this 'Jupyter magic' to display plots in the notebook.
%matplotlib inline

import matplotlib.pyplot as plt

Now creating a plot with pandas is as simple as calling `.plot()` on some selected data!

In [ ]:
scotland_data.newCasesByPublishDate.plot();  # We also add the semicolon when plotting in Jupyter

We could have also achieved the same result using the syntax:

```python
scotland_data.newCasesByPublishDate.plot.line()
```

These plotting functions also have many [arguments](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html) which you can specify to tune the look of your plots. These arguments are passed to the underlying matplotlib methods. We can also specify other types of plot. For example, we could visualise the data as a box plot, do you notice anything unusual?:

In [ ]:
# Select a time window (1-month)
window = scotland_data['2021-09-30':'2021-10-30']

window.newCasesByPublishDate.plot.box();

How about we plot the raw data along with the 10-day rolling average:

In [ ]:
scotland_data.newCasesByPublishDate.plot(figsize=(12, 8))  # also specify the size!
scotland_data.rollingAvgTenDay.plot()
plt.legend();  # We can also add a legend using matplotlib!

We can also save figures using `.savefig()`, check the data directory!

In [ ]:
figure = scotland_data.newCasesByPublishDate.plot(figsize=(12, 8)).get_figure()
figure.savefig('Scotland_2021-Oct-31.png');

## Discussion

Cleaning, analysing, manipulating and visualizing data is an essential skill for an informatician/data-scientist. In fact, 80% of a data-scientists job is cleaning data for analysis. As Pandas is such a wildly used tool if you want to know more there are hundreds of resources online to help you learn.

Feel free to add more code cells and experiment with the concepts you have learnt.

If you want to know more there are some extra resources from external sources linked in the beginning section. You can click the link below to go back to the top.

Click [here](#Contents) to go back to the contents.