### MEDC0106: Bioinformatics in Applied Biomedical Science

<p align="center">
  <img src="../../resources/static/Banner.png" alt="MEDC0106 Banner" width="90%"/>
  <br>
</p>

---------------------------------------------------------------

# 09 - Pandas

*Written by:* Oliver Scott

**This notebook provides a general introduction to Pandas.**

Feel free to modify the code cells to see how things work!

### What is Pandas?

**[Pandas](https://pandas.pydata.org/)** is a powerful Python package for data analysis, offering functions for analysing, cleaning, and manipulating data. It is one of the most crucial tools for data scientists and forms the backbone of many Python-based data science projects.

Data manipulation with Pandas is often the first step before further analysis using other Python packages, such as:
- **[SciPy](https://www.scipy.org/)** for statistical analysis,
- **[Matplotlib](https://matplotlib.org/)** for data visualization,
- **[scikit-learn](https://scikit-learn.org/stable/)** for machine learning.

These tools are part of the Python scientific stack, essential for informatics or data science careers. To be effective in Pandas, it is helpful to have a solid understanding of core Python concepts (as covered in the first session) and some familiarity with NumPy (covered in the supplementary notebook for Session 3). If any concepts are challenging, reviewing previous notebooks might be helpful.

This notebook covers the basics of Pandas. While Pandas is a comprehensive library that could fill an entire course, here we’ll focus on fundamental concepts to get you started and provide a foundation for further learning.

-----

## Contents

1. [The basics](#The-basics)
2. [Creating DataFrames](#Creating-DataFrames)
3. [Reading data](#Reading-data)
4. [Essential operations](#Essential-operations)
5. [Slicing and selecting](#Slicing-and-selecting)
5. [Arithmetic operations](#Arithmetic-operations)
6. [Applying functions](#Applying-functions)
7. [Time-series](#Time-series)
8. [Plotting](#Plotting)

-----

### Extra resources:

- [Pandas Getting Started Guide](https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html) - Introduction to Pandas
- [RealPython-01](https://realpython.com/pandas-python-explore-dataset/) - Introduction to Pandas
- [RealPython-02](https://realpython.com/pandas-dataframe/) - Pandas DataFrames

-----

### References:

- [Pandas Documentation](https://pandas.pydata.org/docs/)
- [Learn Data Science](https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/)

-----

## The basics

Importing `pandas` is no different to any other package/module. Pandas users often use the `pd` alias to keep code clean:

In [ ]:
import pandas as pd

# Create a Pandas Series
s = pd.Series([1.0, 2.0, 3.0, 5.0])

# Display the Series
s

### Core Components

Pandas has two core components, the `Series` and the `DataFrame`.

The `Series` can be imagined as a single column in a data table, whereas the `DataFrame` can be imagined as a full data table made up of multiple `Series`. Both types have a similar interface allowing the user to perform similar operations. DataFrames are similar to spreadsheets that you may have interacted with in software such as Excel. DataFrames are often faster, easier to use and more powerful than spreadsheets.

<p align="center">
  <img src="https://www.datasciencemadesimple.com/wp-content/uploads/2020/05/create-series-in-python-pandas-0.png?ezimgfmt=rs%3Adevice%2Frscb1-1" alt="Pandas DataFrame" width="70%"/>
  <br>
</p>

[Image source](https://www.datasciencemadesimple.com/wp-content/uploads/2020/05/create-series-in-python-pandas-0.png?ezimgfmt=rs%3Adevice%2Frscb1-1)

-----

## Creating DataFrames

There are numerous ways to create a DataFrame in Pandas. In most cases it is likely that you will want to read in data from a particular file, however DataFrames can also be constructed from scratch from lists, tuples, NumPy arrays or Pandas Series. One of the simplest ways to create a DataFrame is from a Python dictionary, where keys become column names and values become the column data. 

Suppose we wanted to construct a table like the one below:

| PatientID | Gender | Age | Outcome  |
|-----------|--------|-----|----------|
| 556785    | M      | 19  | Negative |
| 998764    | F      | 38  | Positive |
| 477822    | M      | 54  | Positive |
| 678329    | M      | 22  | Negative |
| 675859    | F      | 41  | Negative |

For this we can use the default constructor `pd.DataFrame()`.

In [ ]:
# This is our dictionary containing the raw data
data = {
    'PatientID': [556785, 998764, 477822, 678329, 675859],
    'Gender': ['M', 'F', 'M', 'M', 'F'],
    'Age': [19, 38, 54, 22, 41],
    'Outcome': ['Negative', 'Positive', 'Positive', 'Negative', 'Negative']
}

# We can now construct a DataFrame
df = pd.DataFrame(data)
df  # Show the data

Notice how there is also an unnamed column containing the numbers 0-4. This is the **index** of each row. In fact, you may also specify a custom index when constructing a dataframe; (`pd.DataFrame(data, index=['Tom', 'Joanne', 'Joe', 'Xander', 'Selena'])`). In this case the index is the name of the patient.

When working with large tables of data, viewing the entire table is often impractical. Pandas provides the `.head()` method to display the first few rows and `.tail()` to display the last few rows. These methods are useful for quickly inspecting the top or bottom of a DataFrame without loading the full dataset.

In [ ]:
# Display the first three rows
df.head(n=3)

In [ ]:
# Display the last two rows
df.tail(n=2)

Accessing an individual column in a DataFrame is straightforward and uses the same syntax as accessing a key in a Python dictionary.

In [ ]:
gender_column = df['Gender']
gender_column

If the column label is a string, you can also use **dot-syntax** to access the column.

In [ ]:
age_column = df.Age
age_column

## Reading data

Reading and writing data in various file formats is an essential part of the data analysis pipeline. Pandas can handle data from multiple file types, including CSV, JSON, Excel, SQL, and [many more](https://pandas.pydata.org/pandas-docs/stable/reference/io.html).

In the folder `data` we have provided a dataset downloaded from the [UK government](https://coronavirus.data.gov.uk/details/cases?areaType=overview&areaName=United%20Kingdom) detailing the number of reported positive COVID-19 test results in the United Kingdom by date reported (up to Oct-31-21). The file is in the CSV format and can be read using Pandas with the method `.read_csv()`.

In [ ]:
cv_data_path = 'https://raw.githubusercontent.com/MEDC0106/PythonWorkshop/main/workshop/session_3/data/data_2021-Oct-31.csv'  # This is the path to our data

cv_data = pd.read_csv(cv_data_path)
cv_data.head(n=10)

You can also easily save a DataFrame to a new CSV file using the `df.to_csv()` method.

```python
cv_data.to_csv('coronavirus_testing_results.csv')
```

Give it a try!

## Essential operations

Now that we’ve loaded data into a DataFrame, we can start analyzing it. Typically, after loading data, it’s helpful to view it briefly to ensure it looks correct and to understand the values you’re working with. We’ve already discussed visualising data with `.head()` and `.tail()`. Another useful method is `.info()`, which provides essential details about your dataset, such as the number of rows and columns, non-null counts, data types for each column, and memory usage.

In [ ]:
cv_data.info()

Notice that we have 6 columns, with four of type `object` (often representing strings) and two of type `int64` (integers). The `.info()` output also shows that we have 2466 non-null values, meaning no missing values in this dataset. Knowing the data type of each column is important because it determines which operations we can perform on them (e.g., we would not calculate the mean of a column containing strings). 

You can also use `.shape` to see the number of rows and columns.

In [ ]:
cv_data.shape

#### Removing duplicates

Input data is often noisy and requires cleaning before analysis. One common issue is duplicated rows, which can skew statistical analysis. Fortunately, Pandas provides tools to handle this easily. Since our current data does not contain duplicates, we will create some by duplicating the existing data and appending it to itself.

In [ ]:
duplicated = pd.concat([cv_data, cv_data])  # Here we have copied the data and added it to itself
duplicated.shape

Notice that we assign the result of the `.concat()` method to a new variable, which creates a copy of the data without altering the original DataFrame. We can now easily remove duplicates using the `.drop_duplicates()` method. Reviewing the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html) is helpful to explore additional arguments and options provided by this function.

In [ ]:
duplicated = duplicated.drop_duplicates()
duplicated.shape

Notice that the shape of the data is now the same as the original, confirming that duplicates have been removed.

Also, observe that, again, we assigned the result to a new variable with the same name. This pattern can become cumbersome, so Pandas offers an `inplace` argument. By setting `inplace=True`, Pandas performs the operation directly on the original DataFrame, eliminating the need to assign it to a new variable.

```python
duplicated.drop_duplicates(inplace=True)  # no need to assign to a new variable
```

#### Removing null values

Raw data often contains missing values that need to be addressed before analysis. Missing values are typically represented by `None` or `np.nan`. There are two main options for handling missing data:

1. Remove all rows with missing values.
2. Impute (fill in) the missing values.

Here, we will focus on the first approach.

Since our data is already clean and contains no null values, we’ll add a new column with some null values for demonstration purposes.

In [ ]:
import random

n_rows = len(cv_data)  # Get the number of rows in the `cv_data` DataFrame

# Create a list with 20% None values and 80% ones
nulls_or_ones = []
for _ in range(n_rows):
    if random.random() < 0.2:  # 20% chance of None
        nulls_or_ones.append(None)
    else:
        nulls_or_ones.append(1)

print("Prepared a random list of length:", len(nulls_or_ones))
print("Is the first value null?", pd.isna(nulls_or_ones[0]))  # Check if the first value is None

Now add a column to the `cv_data` DataFrame containing our newly constructed list.

In [ ]:
cv_data['RandomData'] = nulls_or_ones  # Make a colum called 'RandomData'
cv_data.head(10)

We can also see now that we have null values.

In [ ]:
cv_data.info()

The `.isnull()` or `.isna()` methods return a DataFrame of the same shape as the original, with `True` for `NaN` or `None` values and `False` for non-null values. They allow you to identify which entries are missing.

Applying `.sum()` after `.isnull()` or `.isna()` counts `True` values, i.e. nulls, in each column, giving a count of missing values per column. This works because `True` is treated as 1 in summation.

In [ ]:
cv_data.isna().sum()

In data analysis, you often need to decide whether to remove or impute missing values. Removing data is generally advisable only if the number of missing values is small. To remove rows with null values, you can use the `.dropna()` [method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html). This method removes any row containing at least one null value and returns a new DataFrame unless `inplace=True` is specified.

If you want to drop columns with null values instead, you can change the axis of operation by setting `axis=1`.

In [ ]:
# First let's remove rows with null values
remove_rows = cv_data.dropna()
remove_rows.head(10)

In [ ]:
remove_rows.shape

Now let's change the axis and remove the `RandomData` colum we injected into the `cv_data` DataFrame.

In [ ]:
cv_data.dropna(axis=1, inplace=True)  # We can do it inplace since we do not care about this column
cv_data.head(10)

In [ ]:
cv_data.shape

#### Understanding data

Now that your data is cleaner, it’s time to perform some basic statistical analysis to understand each column. This initial exploration helps inform the next steps in the analysis and may guide how to visualise the data. Pandas provides an easy way to get a quick summary of the distribution of continuous variables using `.describe()`.

In [ ]:
cv_data.describe()

We can also do the same for categorical columns, but we will have to do it seperately.

In [ ]:
cv_data.areaName.describe()

This shows us that in this dataset there are four unique area names with `'England'` being the most frequent. We can also check the unique values using the `.unique()` method.

In [ ]:
cv_data.areaName.unique()

We can see that the dataset contains data for:

- England,
- Northern Ireland,
- Scotland,
- and Wales.

But how many times are each of these values recorded? We can use the method `.value_counts()` to find out.

In [ ]:
cv_data.areaName.value_counts()

## Slicing and selecting

In the previous section we saw how to produce summaries of entire data which is useful. However, sometimes we will want to perform analyses on certain subsets of data. We have already seen how to extract a column of data using square brackets or dot-syntax, i.e. `df['col']` or `df.col`, and now we will dive deeper into the Pandas selection language. 

When selecting parts of a DataFrame we may be returning either a `DataFrame` or a `Series`. It is important to know which is returned so that you use the correct syntax.

#### Selecting by column(s)

Using the square-bracket syntax will return a Pandas `Series`.

In [ ]:
type(cv_data['areaName'])

If you wish to access it as a DataFrame you can supply the column name as a list.

In [ ]:
type(cv_data[['areaName']])

Adding another column to our selection is as simple as adding another column name to the list. Obviosuly in this case our code will return a `DataFrame`.

In [ ]:
selection = cv_data[['areaName', 'areaCode']]
type(selection)

#### Selecting by row(s)

Selecting rows in a DataFrame can be done using two methods:

- `.loc`: Locates rows by label or name.
- `.iloc`: Locates rows by numerical index.

Since our data has a numerical index, it makes sense to use `.iloc` for row selection. If the data had an index with string labels, `.loc` would be the appropriate choice for selecting rows by name. However, `.iloc` would still work, returning the row at the specified numerical position rather than by name.

In [ ]:
cv_data.loc[222]  # Return the row with index 222

We can also use slices to select a range of data.

In [ ]:
cv_data.loc[222:226]

#### Conditional selections

Selecting data by index is helpful, but it can be limiting if we don’t know what the indexes correspond to. For example, if we only want the data from Wales, we can use conditional selections to filter the DataFrame based on specific criteria.

Pandas DataFrames can be filtered by using a Boolean array, Series, or DataFrame generated from a conditional expression.

In [ ]:
ind = cv_data['areaName'] == 'Wales'  # Creates a Boolean Series
ind.tail(5)  # Displays the last 5 values of the Boolean Series

Using this Boolean Series we can index the DataFrame.

In [ ]:
wales_data = cv_data[ind]
wales_data.head(5)

We can simplify this quite nicely into a one line expression.

In [ ]:
wales_data = cv_data[cv_data['areaName'] == 'Wales']
wales_data.head(5)

We can apply this to numerical columns also.

In [ ]:
# Select rows where number of reported positives is less than 100
cv_data[cv_data['newCasesByPublishDate'] < 100].head(5)

Chaining conditional expressions allows us to create powerful selections. For this we can use the logical operators `|` and `&`. 

**Remember to put separate conditions in parentheses!**

In [ ]:
# Count dates in England where numer of reported positives is more than 10,000
cv_data[(cv_data['areaName'] == 'England') & (cv_data['newCasesByPublishDate'] > 10000)].shape

## Arithmetic operations

Basic arithmentic operations can be applied simultaneously on all rows in a column.

In [ ]:
cv_data.newCasesByPublishDate / 100  # Divides a column by 100 and returns a Pandas Series

You may also perform arithmetic operations between columns.

In [ ]:
cv_data.newCasesByPublishDate + cv_data.cumCasesByPublishDate

You can inject a new column (we will call it `Rubbish`) with the result.

In [ ]:
cv_data['Rubbish'] = cv_data.newCasesByPublishDate * 0.3 / cv_data.cumCasesByPublishDate
cv_data.head(5)

Pandas also provides some other handy functions.

In [ ]:
print(cv_data.newCasesByPublishDate.mean())
print(cv_data.newCasesByPublishDate.std())  # Standard deviation

## Applying functions

While it is possible to iterate over a Pandas DataFrame or Series, it is slow in Python. 

We can use the `.apply()` method to apply a function to each element in a column or across columns. We can also save this result to a new column. 

Let's create an arbitrary function that we can apply to the data we have.

In [ ]:
def categorise_cases(x):
    if x >= 10000:
        return 'High'
    elif x <= 200:
        return 'Low'
    else:
        return 'Medium'

# No output is expected from this cell

The above function categorises a case count into arbritarty categories: 'High', 'Medium' and 'Low'. Now we can apply this to the `newCasesByPublishDate` column.

In [ ]:
cv_data['Category'] = cv_data['newCasesByPublishDate'].apply(categorise_cases)
cv_data

Users often will use anonymous functions instead of defining an explicit function like above.

In [ ]:
cv_data['newCategory'] = cv_data['newCasesByPublishDate'].apply(lambda x: 'Red' if x >= 20000 else 'Amber')
cv_data

## Time-series

One of the columns contains dates as strings (`object` type), which isn’t very useful for time-based analysis. Pandas has a `datetime` type that allows for more advanced selections and operations based on time spans. First, we need to convert our column to a `datetime` format using the `.to_datetime()` method.

In [ ]:
cv_data['date'] = pd.to_datetime(cv_data['date'])
cv_data.info()

Now we have the `date` column values in this form we can make selections within time ranges using the `.between()` method.

In [ ]:
# Let's select data between the 20th and the 30th October 2021 and restrict it to England
selection = cv_data[(cv_data.date.between('2021-10-20','2021-10-30')) & (cv_data.areaName == 'England')]
selection

Working with time-series data is even more powerful if we use them as our index. Let's first only consider `'Scotland'` in our analysis.

In [ ]:
scotland_data = cv_data[cv_data.areaName == 'Scotland']
scotland_data

Now we can set the `date` column of the `scotland_data` DataFrame as the index.

In [ ]:
scotland_data.set_index('date', inplace=True)
scotland_data

You may have noticed that the data is in time-descending order. We may want to reverse this ordering. Now that the index is the `date` column we can do this easily using the `.sort_index()` method.

In [ ]:
scotland_data.sort_index(inplace=True)
scotland_data  # Show the data in time-ascending order

We can use slicing with `.loc` to select a date range.

In [ ]:
scotland_data.loc['2021-10-20':'2021-10-30']

We can **resample** time-series data into different intervals and calculate statistics for each interval. 

For example, the code below resamples the data into 10-day intervals and calculates the mean of `newCasesByPublishDate` column.

In [ ]:
resampled = scotland_data.resample(rule='10d')['newCasesByPublishDate'].mean()
resampled

Instead of `.mean()`, you could use other aggregation functions such as `.min()`, `.max()`, or `.sum()`. Additionally, you can calculate a rolling statistic using `.rolling()` and a specified window size. For instance, below we calculate a rolling average with a 10-day window.

In [ ]:
scotland_data['rollingAvgTenDay'] = scotland_data.rolling(10)['newCasesByPublishDate'].mean()
scotland_data

## Plotting

Pandas enables easy visualization of data in DataFrames and Series by interfacing directly with the plotting package [Matplotlib](https://matplotlib.org/).

In [ ]:
# We also add this 'Jupyter magic' to display plots in the notebook
%matplotlib inline
import matplotlib.pyplot as plt

# No output is expected from this cell

Creating a plot from Pandas DataFrames is as simple as calling `.plot()`.

In [ ]:
scotland_data.newCasesByPublishDate.plot();  # Adding a semicolon is preferred in Jupyter

We could have achieved the same result by using the following syntax too:

```python
scotland_data.newCasesByPublishDate.plot.line();
```

These plotting functions offer various [arguments](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html) to adjust the appearance of your plots. These arguments are passed to the underlying Matplotlib methods, allowing for fine-tuning. You can also specify different types of plots; for instance, you could visualise the data as a box plot.

In [ ]:
# Select a time window (1-month)
window = scotland_data['2021-09-30':'2021-10-30']

window.newCasesByPublishDate.plot.box();

Do you notice anything unusual?

<details>
<summary>Click here for hint</summary>
In the box plot, we see an outlier above the upper whisker, represented by a single point around 3500. This indicates that there is a data point with a significantly higher value than the rest of the distribution for <em>newCasesByPublishDate</em>. Outliers like this can impact analysis, so it's often a good idea to investigate these values further to understand their context or consider handling them differently, depending on your analysis goals.
</details>

<br>

Let's plot the raw data along with the 10-day rolling average.

In [ ]:
scotland_data.newCasesByPublishDate.plot(figsize=(8, 4));  # Also specify the size
scotland_data.rollingAvgTenDay.plot();
plt.legend();  # We can also add a legend

We can also save figures using `.savefig()`. Check the `data` folder.

In [ ]:
figure = scotland_data.newCasesByPublishDate.plot(figsize=(8, 4)).get_figure()
figure.savefig('Scotland.png');

## Discussion

Cleaning, analysing, manipulating and visualising data is an essential skill for a data scientist. In fact, 80% of a data scientist's job is cleaning data for analysis.

Feel free to add more code cells and experiment with the concepts you have learnt.

You can use this notebook as reference if you need to refresh your knowledge on any of the concepts explored.

If you want to learn more there are some extra external resources linked at the beginning of this notebook. You can click [here](#Contents) to go back to the top.